.container {
    text-align: center;
	

}

.moviePic {
    height: 300px;
    width: auto;
    opacity: 0.8;
}

.movieDetail {
    position: relative;
    top: -50px; /* Adjust this value as needed */
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    font-size: 18px;
}
